<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/login.css">
    <title>Login</title>
</head>
<body>
    <div class="continer">
        <form id="form">
            <h1>Login</h1>
            <div class="inp">
                <img width="30" src="https://www.svgrepo.com/show/219280/login.svg" alt="login">
                <input type="text" placeholder="Login" id="login" autocomplete="off" required>
            </div>
            <div class="inp">
                <img width="30" src="https://www.svgrepo.com/show/140300/password.svg" alt="klyuch">
                <input type="password" placeholder="password" id="parol" required>
            </div>
            <div class="reg">
                <a href="/register">Register</a> 
                <button id="loginBtn">Login</button>
            </div>
        </form>
    </div>
    <script>
        let local = window.localStorage.getItem('userData')
        if (local) {
            window.location.assign('/')
        }
    </script>
    <!-- <script src="./js/main.js"></script> -->
    <script src="./js/login.js"></script>
    <!-- <script src="./js/register.js"></script>
    <script src="./js/todo_append.js"></script> -->
</body>
</html>