<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/todo_append.css">
    <title>Todo append</title>
</head>
<body>
    <div class="container">
        <input class="input_title" type="text">
        <textarea name="" class="input_todo" cols="30" rows="10"></textarea>
        <a href="/">Home</a>
        <button>Append</button>
    </div>
    <!-- <script src="./js/main.js"></script>
    <script src="./js/login.js"></script>
    <script src="./js/register.js"></script> -->
    <script src="./js/todo_append.js"></script>
</body>
</html>